# Python
.venv/
bin/
lib/
include/
pyvenv.cfg
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Java / Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.flattened-pom.xml
dependency-reduced-pom.xml
build.log
.incremental/
.polyglot.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project specific
ml_model/data/*.csv
!ml_model/data/training_data.csv
ml_model/saved_models/*.pth
ml_model/saved_models/*.joblib
ml_model/saved_models/*.png
ml_model/saved_models/*.csv
